.Presencia{
  .section-container{
    @apply flex flex-col text-center justify-center items-center h-auto max-h-[100%] w-[100%] xl:landscape:max-w-[60%] text-[.95em] md:text-[1.2em] xl:text-[1em] overflow-y-auto;
  }
  &__text-title{
    @apply mb-[1em]
  }
  h1{
    margin-bottom: 0;
  }
  svg{
    margin-bottom: 1rem;
  }
  a{
    text-decoration: underline;
  }
}
.map{
  @apply w-[100%] h-auto landscape:w-auto landscape:h-[100%];
}
g {
  position: relative;
  background: lime;
  &:after {
    content: '';
    display: block;
    width: 2px;
    height: 2px;
    background: red;
  }
}
.info{
  @apply text-[.8em] xl:text-[1em] lg:text-left;
}
