@font-face {
    font-family: 'Gotham Extra';
    src: url('Gotham-ExtraLight.woff2') format('woff2'),
        url('Gotham-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

